page-settings {
  #master {
    background: color($colors, background, base);
    ion-list{
      padding-top: 150px;
      ion-item{
        background: none;
        color: #F2F4F3;
      }
    }
  }
}

